<div class="acordeon">
<br>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Young Royals
        </mat-panel-title>
        <mat-panel-description>
          Netflix
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>1 Season</p>
    </mat-expansion-panel>
  </mat-accordion>
<br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Elite
        </mat-panel-title>
        <mat-panel-description>
          Netflix
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>4 Seasons</p>
    </mat-expansion-panel>
  </mat-accordion>
<br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sex Education
        </mat-panel-title>
        <mat-panel-description>
          Netflix
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>3 Seasons</p>
    </mat-expansion-panel>
  </mat-accordion>
<br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rebelde
        </mat-panel-title>
        <mat-panel-description>
          Netflix
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>1 Season</p>
    </mat-expansion-panel>
  </mat-accordion>
<br>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Victorious
        </mat-panel-title>
        <mat-panel-description>
         Nickelodeon
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>4 Season</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>


  

  


  