.mat-toolbar{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-blend-mode: multiply;
    color: white;
    height: 70px;
    font-family: 'Antonio', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.menu{
     display: flex;
     font-size: 25px;
     padding: 20px; 
}

li{
    border-radius: 2px;
    padding: 8px 50px 8px  ;
  
}

li:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    transition: 1.5s;
    border-radius: 500px;
    padding: 8px 50px 8px 100px;
    font-size: 30px;
}

.title{
    font-family: 'Megrim', cursive;
    font-size: 45px;
}


